
.chats
  .chat__side
    .chat__header
      .chat__header--name nozawa
      .chat__header--edits
        = link_to root_path, class: "chat__icon" do
          %i.fa.fa-pencil-square-o.fa-lg
        = link_to edit_user_path(current_user.id), class: "chat__icon" do
          %i.fa.fa-cog.fa-lg

    .chat__groups
      .chat__group
        .chat__group--name sampleグループ名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前
        .chat__group--message あああああああ
      .chat__group
        .chat__group--name sampleグループ2
        .chat__group--message あああああああ2
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3aaaaaaaaaaaaaaaaaaaaaaaaa
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3




  .chat__main
    .chat__header
      .chat__top
        .chat__top--groupname sampleグループ名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前
        .chat__top--members Members: nozawa
      = link_to 'Edit', root_path, class: "chat__editbtn"

    .chat__body
      %ul.chat__messages
        %li.chat__message
          - @messages.each do |message|
            .chat__message__header
              .chat__message__header--name
                / = message.user.name
                nozawa
              .chat__message__header--time
                = message.created_at.strftime('%Y/%m/%d %H:%M:%S')
            .chat__message--body
              = message.body

    .chat__footer
      = form_for @message, method: "post" do |f|
        .chat__footer--messages
          = f.text_area :body, placeholder: "type a message", rows: "1"
          %label.chat__footer--file
            = f.file_field :image
            %i.fa.fa-image
          = f.submit value: "Send", id: "submit", data: { disable_with: "送信中..." }
